
body{
	background-color: #F5F5F5 ;
}


header{
	padding: 20px ;
	width: 100%;
	position: fixed;
	top: 0;
	margin-bottom: 600px;

}


.container{
	width: 1170px;
	margin: 0 auto;
	
	
}
.logo{
	height: 32px;
	width: 32px;
	left: -265px;
	top: -501px;
	border-radius: 0px;
	display: inline-block;
	margin-right: 100px;
	vertical-align: middle;

}
nav{
	display: inline-block;
	vertical-align: middle;
}
li{
	display: inline-block;
	margin-right: 50px;
	vertical-align: middle;

}
a{
	color:  #000000;
   font-size: 28px;
}


.s-1{margin-bottom: 60px;
	
}


h4{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
	margin-bottom: 27px;
}
.card1,.card2,.card3{
	width: 362px;
	height: 17px;
    background-color: #FFFFFF;
	display: inline-block;
	border-radius:5px;
	vertical-align: top;
	
}
.card1, .card2 {
		margin-right: 36px;
}
.img1, .img2, .img3 {
	width: 100%;
	margin-bottom: 68px;
}

.wrapper{
	     position: relative;

}

h6 {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: #8A8787;

}

.card-1,.card-2{
	margin-right: 36px;
}

h3{ font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
	margin-bottom: 30px;
}


.clock{margin-top: 11px;
	display: inline-block;
}

p{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 30px;
	color: #8A8787;
	width: 238px;
	margin-bottom: 12px;
	margin-left: 37px;
}
.left-wrapper{
	width: 758px;
	display: inline-block;
	vertical-align: top;
	margin-right: 42px;
}
.img7{
	margin-bottom: 42px;
}
.img7,.img8,.img9,.img10,.img11{
	width: 100%;
}
.right-wrapper{
	width: 362px;
	display: inline-block;
	vertical-align: top;
}
.img9 {
	margin-bottom: 98px;
}

.img10 {
	margin-bottom: 103px;
}

h1{
	font-family: Roboto;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;


}
h3{ position: absolute;
	top: 32px;
	left: 41px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: #FFFFFF;

}
.s-2{
	margin-top: 60px;

}
    

.card{
	width: 1440px;
	height: 201px;
	top: 1029px;
	left: -720px;
	background-color:#243043 ;

}
.f{
	 font-family: Roboto;
	font-size: 12px;
	font-weight: 700;
	line-height: 14px;
	letter-spacing: 0em;
	text-align: left;
	width: 33px;
	color: #818687 ;

}
.k{
	width: 249px;
	height: 14px;
	top: 1088px;
	left: -121px;


}

.g{
	width: 38px;
	height: 40px;
	top: 1087px;
	left: 544px;


}





















