header{
	padding: 20px 0;
	width: 100%;
	position: fixed;
	top: 0;
}


.container{
	width: 1180px;
	margin: 0 auto;
	
	
}
.logo{
	height: 32px;
	width: 32px;
	left: -265px;
	top: -501px;
	border-radius: 0px;

;
	display: inline-block;
	margin-right: 100px;
	vertical-align: middle;

}
nav{
	display: inline-block;
	vertical-align: middle;
}
li{
	display: inline-block;
	margin-right: 50px;
	vertical-align: middle;

}
a{
	color:  #000000;
   font-size: 28px;
}
.s-1{
    margin-top: 107px;
   
}
h1{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	line-height: 28px;
	line-height: 100%;
	align:100%;
	vertical-align: top;
	color:#000000 ;
	width: 120px;
	height: 28px;
	font-style: bold;
	


}
.s{
	height: 186px;
	width: 362px;
	left: -583px;
	top: -381px;
	border-radius: 5px;
	x:-583px;
	y:-381px;
	display: inline-block;
	margin-top: 50px;
	vertical-align: top;
	padding: relative;
	scale: fill;
	margin-bottom: 62px;




}
.card-1{
	width: 362px;
	height: 17px;
   background-color: #FFFFFF;
	display: inline-block;
	top: -195px;
	left: -583px;
	bottom right radius:5px;
	bottom left radius:5px;
}
.wrapper{display: inline-block;
	      position: relative;

}
h3{position: absolute;
	top:72px;
	left:41px;
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;

}
.clock{margin-top: 11px;
	display: inline-block;
}
h4{
	display: inline-block;
}	
.t{
	position: relative;
}





















